#  *1. In the below elements which of them are values or an expression? eg:- values can be integer or string and expressions will be mathematical operators.*


1.) *

2.) 'hello'



3.) -87.8


4.) -


5.) /


6.) +

In [27]:
b = -87.8     #  -87.8 is a floating point value
type(b)

float

In [28]:
a = "hello"   #  'hello' is a string 
type(a)

str

In [29]:

c = 6         # 6  is an integer value
type (c)

int

In [30]:
b = 10
a= -b
print(a)     #  -a is an expression using the negation operator
type (a)

-10

int

In [32]:
a=1
b=2
c=a/b
type("c")     #  a / b is an expression using the division operator

str

In [35]:
a+b           #a + b is an expression using the addition operator

3

#*2. What is the difference between string and variable?*

###stings are the values which we use to represent text

In [44]:
#   stings are the values which we use to represent text
print("hello world") # here hello world is a string

hello world

###Variables are named storage locations that can store values that can change during the execution of a program.

In [45]:
#   Variables are named storage locations that can store values that can change during the execution of a program.
name :"Aman"
age : "30"  # here name and age is a variable

#*3. Describe three different data types.*

### In Python, there are several built-in data types, but here are three of the most common:
###Integer (int): An integer is a whole number, such as 1, 42, or -5.

### Floating-point number (float): A floating-point number is a number with a decimal component, such as 3.14 or -0.01.

### String (str): A string is a sequence of characters, such as "hello" or "goodbye". Strings are usually enclosed in quotes.

In [48]:
a=42 # integer
type(a)

str

In [49]:
a=42.5 # float value
type(a)

float

In [51]:
name="aman"
type("name") # string

str

#*4. What is an expression made up of? What do all expressions do?*

###an expression is a combination of values, variables, and operators that we use to get the output from it

In [52]:
a=3
b=4
a+b #we use expressions to get the output

7

#*5. This assignment statements, like spam = 10. What is the difference between an expression and a statement?*

### expression is use to evaluate the value with the help of mathematical operators while statement is use to conduct an action

In [53]:
5+5 #it is an expression

10

In [58]:
spam = 5+5
print(f"spam ={spam} ") # spam is an action which helps to get result

spam =10

# *6. After running the following code, what does the variable bacon contain?*
# bacon = 22
# bacon + 1

In [60]:
bacon = 22
bacon=bacon+1
bacon            # Now the value of bacon would be updated to 23.

23

#7.) What should the values of the following two terms be?


### 'spam'+ 'spamspam'

### 'spam'*3

In [61]:
'spam'+ 'spamspam'  # concatination

'spamspamspam'

In [63]:
'spam'*3 # three times spam combined

'spamspamspam'

#*8.) Why is eggs a valid variable name while 100 is invalid?*

### In Python, variable names must follow certain naming conventions to be considered valid. A valid variable name:

### Must start with a letter or an underscore Cannot start with a number
### Can only contain letters, numbers, and underscores
### Is case-sensitive Therefore, eggs is a valid variable name because it starts with a letter and only contains letters and underscores. On the other hand, 100 is not a valid variable name because it starts with a number.

### It is recommended to choose descriptive and meaningful names for your variables, such as eggs instead of generic names like x or y. This makes your code easier to read and understand.

In [65]:
100=10

SyntaxError: ignored

In [66]:
egg=100

In [69]:
_100=100  # but we have some alternatives

#*9. What three functions can be used to get the integer, floating-point number, or string version of a value?*

###In Python, the following three functions can be used to get the integer, floating-point number, or string version of a value:

###int(): This function can be used to convert a floating-point number or a string representation of a number to an integer. For example:

In [71]:
int(3.14)  # Returns 3

3

In [74]:
int("42")  # Returns 42

42

###float(): This function can be used to convert an integer or a string representation of a number to a floating-point number. For example:

In [76]:

float("3.14")  # Returns 3.14

3.14

### str(): This function can be used to convert a number or any other value to a string representation. For example:

In [77]:
str("3.14")  # Returns "3.14"

'3.14'

#10. Why does this expression cause an error? How can you fix it?
# 'I have eaten'  +99 + ' burritos.'

### The str() function is used to convert the integer value 99 to a string, so that it can be concatenated with the other string values. The plus operator + is used to concatenate strings in Python.

In [80]:
'I have eaten '  + str(99) + ' burritos.' # because all the values should be in string to concatinate each other

'I have eaten 99 burritos.'